* {
  padding: 0;
  margin: 0;
  color: black!important;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(../public/header1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shadow{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 64.06%, #000000 100%);
}

.text-header1{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.text-header1 h1 { 
  color: white!important;
  font-size: 100px;
  text-align: center;
  align-items: center;
}
.text-header1 h2{
  color: white!important;
  margin-left: 10rem;
  margin-top: 2rem;
}


.section-text-quran{
  position: absolute;
  margin-top: 30rem;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
}

.text-quran h3{
  color: white!important;
}

.section-text-quran h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white!important;
}

.photo1 {
  margin-top: 5rem;
}

.shadow-afterheader{
  position: absolute;
  height: 549px;
  width: 1000px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.609375) 70.83%, #000000 100%);
}

.text-marriage {
  width: 100vw;
  height: 200px;
  background-color: white;
  color: black;
  position: relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  margin-top: 950px;
}

.text-marriage p{
  text-align: center;
  top: 50%;
  position:relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.profil{
  width: 100vw;
  height: 850px;
  background-color: white;
  margin-top: -100px;
  color: black;
  position: absolute;
  display: flex;
  justify-content: space-around;
}


.ppcewek{
  top: 30%;
  position: relative;
}

.ppcewek h4, p{
  position: relative;
  text-align: center;
  align-items: center;
}

.pemisah{
  top: 35%;
  position: relative;
  font-size: 10rem;
}

.ppcowok{
  top: 40%;
  position: relative;
}

.ppcowok{
  position: relative;
  text-align: center;
  align-items: center;
}

.section-location{
  width: 1080px;
  height: 500px;
  background-color: #bdc2e0;
  position:relative;
  margin-top: 2225px;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 67rem;
}

.akad {
  color: black;
  margin-top: 20rem;
  position: relative;
  top: 17rem;
  transform: translate(-50% -50%);
}

.akad h1{
  padding: 10px;
  position: relative;
  left: 50%;
  margin-left: -95px;
}

.location-akad h1{
  position: relative;
  left: 50%;
  margin-left: -155px;
}

.shadow-foto1{
  position: absolute;
  width: 1080px;
  height: 557px;
  margin-top: 400px;
  background : linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.609375) 70.83%, #000000 100%);
}

.location-akad{
  color: black;
  position: relative;
  top: 18rem;
  transform: translate(-50% -50%);

}

.location-akad h1{
  padding:10px;
}

.section-foto-location1 img{
  width: 1080px;
  margin-top: 19rem;
}

.section-location-resepsi{
  width: 1080px;
  height: 500px;
  background-color: #bdc2e0;
  position:relative;
  margin-top: 581px;
  left:50%;
  transform: translate(-50%, -50%);
}

.resepsi{
  color: black;
  position: relative;
  top:17rem;
}

.location-resepsi{
  color: black;
  position: relative;
  top: 18rem;
}

.resepsi h1{
  padding: 10px;
  margin-left: 475px;
}

.location-resepsi h1 {
  padding: 10px;
  margin-left: 380px;
}

.section-foto-location2 img{
  width: 1080px;
  margin-top: 19rem;
}

.shadow-foto2{
  position: absolute;
  width: 1080px;
  height: 557px;
  margin-top: 350px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.609375) 68.75%, #000000 100%);;
}

.section-cutdown{
  width: 1080px;
  height: 350px;
  background: #bdc2e0;
  margin-top: 600px;
  position: relative;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.section-cutdown h1{
  margin-top: 3rem;
  left: 50%;
  position: absolute;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  color: black;
}

.cutdown{
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}

.days{
  position: relative;
  top: 130px;
  text-align: center;
}

.hours{
  position: relative;
  top: 130px;
  text-align: center;
}

.mins{
  position: relative;
  top: 130px;
  text-align: center;
}

.seconds{
  position: relative;
  top: 130px;
  text-align: center;
}

.image-section1 img{
  width: 100vw;
}

.shadow-image-section{
  position: absolute;
  height: 1045px;
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 0%, rgba(0, 0, 0, 0.609375) 68.75%);
}

.shadow-hastag{
  margin-top: 870px;
  height: 557px!important;
  position: absolute;
  width: 100vw;
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.609375) 68.75%, #000000 100%);;
}

.shadow-hastag h3{
  margin-bottom: -250px;
  font-size: 50px;
  font-weight: 100;
  width: 100vw;
  text-align: center;
  top: 45%;
  color: white!important;
}
.shadow-hastag p{
  top: 45%;
  color: white!important;
}

.text-quote2{
  background-color: white;
  width: 100vw;
  height: 400px;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  position: block;
}

.text-quote2 p{
  color: black;
  position: relative;
  top: 25%;
  font-size: 25px;
}

.text-quote2 img{
  width: 30px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-top: 10rem;
}

.gift{
  width: 100vw;
  height: 500px;
  background-color: white;
  color: black;
}

.gift h1{
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding:  4rem;
}

.logo-gift{
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.logo-gift a{
  width: 100px;
  height: 100px;
  background-color: #bdc2e0;
  border-radius: 4px;
}

.logo-gift img {
  width: 55px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hastag-section img{
  width: 100vw;
}

.gallery{
  margin-top: 1rem;
}
.responsive-galery{
  position: relative;
  align-items: center;
  display: flex;
  margin-right: 500px;
  margin-left: 500px;
  width: 24.99999%;
}

.responsive-galery a {
  padding: 5px;
}

.footer{
  width: 100vw;
  height: 200px;
  color: black;
  background-color: white;
}

.section-footer{
  position: relative;
  text-align: center;
  top: 50%;
}

@media (max-width: 480px) {
  
  .text-header1 h1{
    font-size: 2rem;
    color: white;
  }

  .text-header1 h2{
    font-size: 1rem;
    position: relative;
    text-align: center;
    align-items: center;
    margin-left: 1px;
    margin-top: 1rem;
    color:white;
  }

  .text-quran h3{
    font-size: 6px;
    margin-top: -10rem;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

  }

  .section-text-quran{
    margin-top: 240px;
  }
  .text-quran h2 {
    margin-top: 1rem;
    font-size: 10px;
  }
  
  .photo1{
    margin-top: -10px;
  }

  .shadow-afterheader{
    width: 320px;
    margin-bottom: 200px;
    margin-top:-20px;
    height: 200px;
  }

  .text-marriage p{
    margin-left: 200px;
    margin-right: 400px;
    width: 100vw;
  }

  .photo1 img{
    width: 320px;
  }
  
  .text-marriage{
    margin-top: 360px;
    height: 150px;
  }

  .text-marriage p {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .profil {
    margin-top: -130px;
    height: 250px;
  }
  .profil img {
    width: 60px;
  }

  .pemisah {
    width: 20px;
  }
  .pemisah p{ 
    font-size: 40px;
  }

  .ppcewek{
    align-items: center;
    text-align: center;
  }

  .profil h4{
    font-size: 12px;
  }

  .pemisah{
    margin-top: 18px;
  }

  .pemisah p{
    font-size: 40px!important;
  }

  .profil p{
    font-size: 9px;
    padding: 5px;
    margin:2px;
    margin-top: -18px;
  }

  .section-location{
    margin-top: -5rem;
    width: 100vw;
    height: 250px;
  }

  .akad h1{
    font-size: 20px;
    color: black;
    margin-top: -190px;
    position:absolute;
    margin-left: -62px;
  }

  .akad p{
    margin-top: -135px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 10px;
    padding: 0;
    position:absolute;
   }


  .location-akad h1{ 
    color: black;
    font-size: 20px;
    position:absolute;
    margin-top: -130px;
    margin-left: -105px;
  }

  .location-akad p{
    position: absolute;
    margin-left: 120px;
    text-align: center;
    margin-top: -90px;
    font-size: 10px;
  }
 

  .section-foto-location1{
  width: 100vw;

  }

  .section-foto-location1 img{ 
  width: 100vw;
  }

  .shadow-foto1 { 
  position: absolute;
  width: 100vw;
  height: 250px;
  margin-top: 250px;
  }

  .section-foto-location1 img{
  margin-top: 249px;
  }

  .section-location-resepsi{
    width: 100vw;
    height: 250px;
    margin-top: 232px;
  }

  .resepsi h1{
    position: absolute;
    margin-left: 205px;
    font-size: 20px;
    margin-top: -190px;
  }

  .resepsi p {
    font-size: 10px;
    position: absolute;
    margin-top: -150px;
    margin-left: 200px;
  }

  .location-resepsi h1{
    font-size: 20px;
    margin-left: 140px;
    position: absolute;
    margin-top: -130px;
  }

  .location-resepsi p {
    position: absolute;
    font-size: 10px;
    margin-top: -90px;
    margin-left: 120px;
  }

  .location-resepsi p {
    font-size: 10px;
  }

  .shadow-foto2{
    height: 235px;
    width: 100vw;
    margin-top: 250px;
  }

  .section-foto-location2 img{
    width: 100vw;
    margin-top: 250px;
  }

  .section-cutdown{
    width: 100vw;
    height: 140px;
    margin-top: 179px;
  }

  .section-cutdown h1 {
    font-size: 15px;
    position: absolute;
    margin-top: 19px;
  }

  .cutdown{
    position: relative;
    margin-left: 0px;
    margin-right: 15px;
  }

  .days {
    width: 5px;
    font-size: 25px;
    margin-top: -70px;
  }

  .hours {
    width: 5px;
    font-size: 25px;
    margin-top: -70px;
  }

  .mins {
    width: 5px;
    font-size: 25px;
    margin-top: -70px;
  }

  .seconds {
    width: 5px;
    font-size: 25px;
    margin-top: -70px;
  }

  .cutdown h4{
    font-size: 10px;
  }

  .days h4 {
    margin-left: -1px;
  }

  .hours h4 {
    margin-left: -5px;
  }

  .mins h4{
    margin-left: -7px;
  }

  .seconds h4 {
    margin-left: -7px;
  }

  .gift {
    margin-top: -71px;
    height: 250px;
  }

  .gift h1{
    font-size: 20px;
    margin-top: -140px;
    position:relative;
    padding: 10px;
    margin: 0;
  }

  .gift p{
    position: absolute;
    font-size: 8px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .logo-gift {
    margin-top: -35px;
  }

  .logo-gift a{
    position: relative;
    margin-top: 120px;
    width: 50px;
    height: 50px;
  }

  .logo-gift img{
    width: 20px;
    margin-top: -25px;
    position: absolute;
  }

  .shadow-hastag{
    margin-top: 8px;
    position: absolute;
    width: 100vw;
    height: 320px!important;
  }

  .shadow-hastag h3{
    font-size: 25px;
    margin-top: 130px;
    margin-left: -2px;
  }

  .shadow-hastag p{
    font-size: 6px;
    margin-top: 130px;
  }

  .gallery{
    display: block;
    margin-top: 0px;
  }

  .responsive-galery{
    left: -335px;
  }
  
  .responsive-galery img{
    width: 80px;
  }
  .footer{
    height: 100px;
    margin-top: 0px;
  }

  .section-footer{
    top: 10px;
    width: 100vw;
  }

  .section-footer p{
    font-size: 10px;
    margin-top: 20px;
    top: 15px;
    left: 20px;
    width: 100vw;
    margin: 0px;
    padding-top: -50px;
  }

  .copyright p{
    font-size: 7px;
    left: 15px;
    margin-top:-10px;

  }

}


@media (max-width: 480px) {

  .text-marriage p {
    width: 280px;
  }


  .shadow-hastag{
    margin-top:0 ;
    height: 215px!important;
  }

  .responsive-galery {
    align-items: center;
    left: -415px;
  }

  .responsive-galery img{
    margin-left: -100px;
    padding-left: 100px;
  }

  .location-akad p{
    margin-left: 40px;
  }

  .shadow-foto1{
    height: 178px;
  }

  .section-location-resepsi{
    margin-top: 177px;
  }

  .resepsi h1{
    margin-left: 130px;
  }
  
  .resepsi p{
    margin-left: 123px;
  }

  .location-resepsi h1{
    margin-left: 70px;
  }

  .location-resepsi p{
    margin-left: 55px;
  }

  .shadow-foto2{
    height: 178px;
  }

  .section-cutdown{
    margin-top: 123px;
  }

  .shadow-hastag h3{
    margin-top: 100px;
  }
  
  .shadow-hastag p {
    margin-top: 155px;
  }

  .section-footer p{
    margin-left: -20px;
  }

}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark!important;
  }
}
